<div class="clr-row mar-top-24">

    <div class="clr-col-12">

      <h2 class="mar-top-24">COMMUNITY ACTIVITY</h2>

    </div>

  </div>

  <div class="clr-row">

    <div class="clr-col-6">

      <div class="card">

        <div class="card-header">

          <h3 class="card-title">Discussions</h3>

        </div>

        <div class="card-block">

          <div class="clr-row mar-top-12">

            <div class="clr-col-9">

              <div>

                <div class="card-text"><a href="#">Trouble getting full output from script sourced on this forum - Obtaining vNIC, MAC, IP and Network name</a></div>

                <div class="card-text p7">In <a href="#">VMware PowerCLI Forum</a></div>

              </div>

            </div>

            <div class="clr-col-3">

              <div class="clr-row">

                <div class="clr-col-6">

                  234 Views

                </div>

                <div class="clr-col-6">

                  1 Reply

                </div>

              </div>

            </div>

          </div>

          <div class="clr-row mar-top-24">

            <div class="clr-col-9">

              <div>

                <div class="card-text"><a href="#">Trouble getting full output from script sourced on this forum - Obtaining vNIC, MAC, IP and Network name</a></div>

                <div class="card-text p7">In <a href="#">VMware PowerCLI Forum</a></div>

              </div>

            </div>

            <div class="clr-col-3">

              <div class="clr-row">

                <div class="clr-col-6">

                  234 Views

                </div>

                <div class="clr-col-6">

                  1 Reply

                </div>

              </div>

            </div>

          </div>

          <div class="clr-row mar-top-24">

            <div class="clr-col-9">

              <div>

                <div class="card-text"><a href="#">Trouble getting full output from script sourced on this forum - Obtaining vNIC, MAC, IP and Network name</a></div>

                <div class="card-text p7">In <a href="#">VMware PowerCLI Forum</a></div>

              </div>

            </div>

            <div class="clr-col-3">

              <div class="clr-row">

                <div class="clr-col-6">

                  234 Views

                </div>

                <div class="clr-col-6">

                  1 Reply

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="clr-col-6">

      <div class="card">

        <div class="card-header">

          <div class="clr-row">

            <div class="clr-col-4">

              <h3 class="card-title">Ideas</h3>

            </div>

          </div>

        </div>

        <div class="card-block">

          <div class="clr-row mar-top-12">

            <div class="clr-col-9">

              <div>

                <div class="card-text"><a href="#">Full output from script for Obtaining vNIC, MAC, IP and Network name</a></div>

                <div class="card-text p7">for <a href="#">VMware PowerCLI</a></div>

              </div>

            </div>

            <div class="clr-col-3">

              1 Vote

            </div>

          </div>

          <div class="clr-row mar-top-12">

            <div class="clr-col-9">

              <div>

                <div class="card-text"><a href="#">I have an idea, how about indexing the content correctly so I can actually find it</a></div>

                <div class="card-text p7">for <a href="#">VMware {code}</a></div>

              </div>

            </div>

            <div class="clr-col-3">

              100 Votes

            </div>

          </div>

          <div class="clr-row mar-top-12">

            <div class="clr-col-9">

              <div>

                <div class="card-text"><a href="#">Support for framesets because 90's retro web tech is all the rage</a></div>

                <div class="card-text p7">for <a href="#">VMware {code}</a></div>

              </div>

            </div>

            <div class="clr-col-3">

              0 Votes

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>
