<h2>COMMUNITY SPOTLIGHT</h2>

<div class="card">

    <div class="card-block">

      <div class="clr-row">

        <div class="clr-col-6">

          <img src="../img/blog-spotlight.jpg" width="425px" alt="">

        </div>

        <div class="clr-col-6">

          <h3>This is the Community Spotlight Title</h3>

          <p class="p1">Datacenter CLI (DCLI) is back with a brand-new release in the form of version 2.12.0! DCLI 2.12.0 introduces the following improvements and changes: Added Python Prompt Toolkit 2.0+ integration Added support for color themes Updated the handling of authentications.</p>

          <p><button class="btn btn-sm">LEARN MORE</button></p>

        </div>

      </div>

    </div>

  </div>

  <div class="clr-row mar-top-24">

    <div class="clr-col-12">

      <h2 class="mar-top-24">FEATURED BLOG POSTS</h2>

    </div>

  </div>

  <div class="clr-row">

    <div class="clr-col-6">

      <div class="card">

        <div class="card-img">

          <img src="../img/blog-spotlight.jpg" alt="..." />

        </div>

        <div class="card-block">

            <div class="byline p5">March 11, 2019</div>

            <div class="card-title mar-top-12"><a href="#">vSphere Configuration Management Feedback</a></div>

            <div class="p4">Posted by <a href="#">Kyle Ruddy</a></div>

            <p class="card-text mar-top-12">Datacenter CLI (DCLI) is back with a brand-new release in the form of version 2.12.0! DCLI 2.12.0 introduces the following improvements and changes....</p>

            <button class="btn btn-link">READ MORE >></button>

        </div>

      </div>

    </div>

    <div class="clr-col-6">

      <div class="card">

        <div class="card-img">

          <img src="../img/blog-spotlight.jpg" alt="..." />

        </div>

        <div class="card-block">

            <div class="byline p5">March 11, 2019</div>

            <div class="card-title mar-top-12"><a href="#">vSphere Configuration Management Feedback</a></div>

            <div class="p4">Posted by <a href="#">Kyle Ruddy</a></div>

            <p class="card-text mar-top-12">Datacenter CLI (DCLI) is back with a brand-new release in the form of version 2.12.0! DCLI 2.12.0 introduces the following improvements and changes....</p>

            <button class="btn btn-link">READ MORE >></button>

        </div>

      </div>

    </div>

  </div>
