<h2>UPCOMING EVENTS</h2>

<div class="card">

  <div class="card-block">

    <div class="card-title">

      <a href="#">Developer Week NYC 2019</a>

    </div>

    <div class="card-text">

    <span class="p5">New York City | July 11 - 13</span>

    </div>

  </div>

  <div class="card-block">

    <div class="card-title">

      <a href="#">Developer Week NYC 2019</a>

    </div>

    <div class="card-text">

    <span class="p5">New York City | July 11 - 13</span>

    </div>

  </div>

  <div class="card-block">

    <div class="card-title">

      <a href="#">Developer Week NYC 2019</a>

    </div>

    <div class="card-text">

    <span class="p5">New York City | July 11 - 13</span>

    </div>

  </div>

  <div class="card-block">

    <div class="card-title">

      <a href="#">Developer Week NYC 2019</a>

    </div>

    <div class="card-text">

    <span class="p5">New York City | July 11 - 13</span>

    </div>

  </div>

</div>
