<section class="margin-sides-24">

  <div class="list-group">

    <div class="clr-row">

      <div class="clr-col-4">

        <h2>Browse by Product</h2>

      </div>

      <div class="clr-col-8">

        <ul class="list-unstyled twocol">

          <li class="twocol-li">Apteligent</li>
          <li class="twocol-li">Cloud Automation Services</li>
          <li class="twocol-li">Fusion and Workstation</li>
          <li class="twocol-li">Horizon Cloud</li>
          <li class="twocol-li">Horizon 7</li>
          <li class="twocol-li">Identity Manager</li>
          <li class="twocol-li">NSX-T Data Center</li>
          <li class="twocol-li">NSX for vSphere</li>
          <li class="twocol-li">Pulse IoT Center</li>
          <li class="twocol-li">Site Recovery Manager</li>
          <li class="twocol-li">VMware PKS and Cloud PKS</li>
          <li class="twocol-li">vRealize Automation</li>
          <li class="twocol-li">vRealize Lifecycle Manager</li>
          <li class="twocol-li">vRealize Log Insight</li>
          <li class="twocol-li">vSphere</li>
          <li class="twocol-li">Workspace ONE</li>


        </ul>

      </div>

    </div>

    <div class="clr-row" style="margin-top:60px; padding-top:60px; border-top: 1px solid #cccccc;">

      <div class="clr-col-4">

        <h2>Browse by Content Type</h2>

      </div>

      <div class="clr-col-8">

        <ul class="list-unstyled twocol">

          <li class="twocol-li">API Reference</li>
          <li class="twocol-li">CLI Reference</li>
          <li class="twocol-li">Code Samples</li>
          <li class="twocol-li">Developer Guides</li>
          <li class="twocol-li">Integration Guides</li>
          <li class="twocol-li">Tutorials</li>

        </ul>

      </div>

    </div>

    <div class="clr-row" style="margin-top:60px; padding-top:60px; border-top: 1px solid #cccccc;">

      <div class="clr-col-4">

        <h2>Browse by Category</h2>

      </div>

      <div class="clr-col-8">

        <ul class="list-unstyled twocol">

          <li class="twocol-li">Analytics and Business Intelligence</li>
          <li class="twocol-li">Cloud Automation Platform</li>
          <li class="twocol-li">Data Center and Cloud Infrastructure</li>
          <li class="twocol-li">Digital Workspace</li>
          <li class="twocol-li">Hyperconverged Infrastructure</li>
          <li class="twocol-li">Internet of Things</li>
          <li class="twocol-li">Networking and Security</li>
          <li class="twocol-li">Storage and Availability</li>

        </ul>

      </div>

    </div>

  </div>

</section>
