<div class="clr-row mar-lr-24">

  {{ range .Sections }}

  <div class="clr-col-lg-4 clr-col-12">

    <div class="card clickable">

      <div class="card-header">

        <h3 class="card-title"><a class="black-linktext" href="{{ .Permalink }}">{{ .LinkTitle }}</a></h3>

      </div>

      <div class="card-block">

        <p class="card-text">{{ .Description }}</p>

      </div>

      <div class="card-footer">

          {{ range .Sections }}

          <button class="btn btn-sm btn-link">

                <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>

          </button>

        {{ end }}

      </div>

    </div>

  </div>

  {{ end }}

</div>
