<div class="mar-top-24">

  <div class="card mar-r-24" style="background-color:#314351;">

    <div class="card-block">

      <div class="card-title offwhite-linktext">

        Connect With {code} Online

      </div>

      <ul class="list-unstyled">

          <li><a href="#" class="offwhite-linktext">Slack</a></li>

          <li><a href="#" class="offwhite-linktext">Twitter</a></li>

          <li><a href="#" class="offwhite-linktext">Facebook</a></li>

          <li><a href="#" class="offwhite-linktext">YouTube</a></li>

      </ul>

      </div>

    </div>

  </div>
