{{ define "main" }}

  {{ partial "breadcrumb.html" . }}

  <div class="content-container">

    <div class="clr-row bg-white">

      <div class="clr-col-3">

        {{ partial "sidenav/cim-smash-server-api-programming-guide.html" . }}

      </div>

      <div class="clr-col-7 border-right pad-r-24">

        {{ partial "hero/article.html" . }}

        {{ partial "content/article.html" . }}

      </div>

      <div class="clr-col-2 bg-grey">

            {{ partial "toc.html" . }}


{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<h3>See Also</h3>
<ul>
	{{ range . }}
	<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	{{ end }}
</ul>
{{ end }}

      </div>

    </div>

  </div>

{{ end }}
