{{ define "main" }}

  {{ partial "breadcrumb.html" . }}

  <div class="content-container">

    {{ partial "hero/guide.html" . }}

    {{ partial "divider/gradient.html" . }}

    <h2 class="mar-lr-24 pad-top-24">Topics</h2>

    {{ partial "ranger/section/header-only.html" . }}

    <!--
      {{ range where .Site.Pages "Params.guide" "CIM SMASH/Server Management API Programming Guide" }}

          <h3><a class="black-linktext" href="{{ .Permalink }}">{{ .Title }}</a></h3>

    {{ end }}

    -->

  </div>

{{ end }}
