{{ define "main" }}

  {{ partial "breadcrumb.html" . }}

  <div class="content-container">

    {{ partial "hero/l1.html" . }}

    {{ partial "divider/gradient-stubby" . }}

    <h2 class="mar-lr-24 pad-top-24 center-text">Browse by Content Type</h2>

    {{ partial "ranger/section/header-only.html" . }}

    <h2 class="mar-lr-24 pad-top-24 center-text">Browse by Platform</h2>

    {{ partial "ranger/cat/devcenter/default.html" . }}

    <h2 class="mar-lr-24 pad-top-24 center-text">Browse by Topic</h2>

    {{ partial "ranger/cat/site-topics.html" . }}

  </div>

{{ end }}
