<section class="showcase-home">

<div class="showcase-container-home">

  <h2>Learn How to Build Modern Apps and Hybrid Cloud Services</h2>

  <div class="clr-row">

    <div class="clr-col-4 text-center pad-sides-48">

      <a href="resources/labs/">

        <img src="img/beaker.svg" width="100px" alt="">

        <h3>Hands-on Labs</h3>

      </a>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac mollis elit. Proin lacinia sem quis tellus facilisis imperdiet a id metus. Aliquam eu volutpat.</p>

    </div>

    <div class="clr-col-4 text-center pad-sides-48">

      <a href="resources/paths/">

      <img src="img/paths.svg" width="100px" alt="">

      <h3>Learning Paths</h3>

      </a>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac mollis elit. Proin lacinia sem quis tellus facilisis imperdiet a id metus. Aliquam eu volutpat.</p>

    </div>

    <div class="clr-col-4 text-center pad-sides-48">

      <a href="resources/tutorials/">

      <img src="img/videos.svg" width="100px" alt="">

      <h3>Tutorials and Videos</h3>

      </a>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac mollis elit. Proin lacinia sem quis tellus facilisis imperdiet a id metus. Aliquam eu volutpat.</p>

    </div>

  </div>

</div>

</section>
