<div class="mar-lr-36 pad-top-24">

    <div class="max-width">

    <section class="clr-row padding-bottom-24">

        <div class="clr-col-3">

          <h2 class="pad-top-24">Structures</h2>

        </div>

        <div class="clr-col-5">

              {{ range where .Site.Pages "Params.type" "structure" }}

              <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
              <div class="p1">{{ .Description }}

              </div>

              {{ end }}

        </div>

        <div class="solid-divider mar-top-24"></div>

      </section>

    </div>

  </div>
