<h2>Community Discussions</h2>

  <div class="post">

    <h4><a href="#">Trouble getting full output from script sourced on this forum - Obtaining vNIC, MAC, IP and Network name</a></h4>

    <div class="byline">Posted March 11 by <a href="#">Some person</a> in <a href="#">VMware PowerCLI Forum</a></div>

  </div>

  <div class="post">

    <h4><a href="#">Detecting a VM starting to perform a Guest Shutdown</a></h4>

    <div class="byline">Posted March 11 by <a href="#">Some person</a> in <a href="#">VMware PowerCLI Forum</a></div>

  </div>

  <div class="post">

    <h4><a href="#">Detecting a VM starting to perform a Guest Shutdown</a></h4>

    <div class="byline">Posted March 11 by <a href="#">Some person</a> in <a href="#">VMware PowerCLI Forum</a></div>

  </div>
