<h2 style="display:inline;">LATEST UPDATES</h2>

<div class="card">

  <div class="card-block">

    <div class="post">

      <h4><a href="#">Survey: vSphere Configuration Management Feedback</a></h4>

      <div class="byline">Posted March 11 by <a href="#">Kyle Ruddy</a> in <a href="#">VMware {code} blog</a></div>

    </div>

    <div class="post">

      <h4><a href="#">Survey: vSphere Configuration Management Feedback</a></h4>

      <div class="byline">Posted March 11 by <a href="#">Kyle Ruddy</a> in <a href="#">VMware {code} blog</a></div>

    </div>

    <div class="post">

      <h4><a href="#">Adding custom objects to vRealize Operations with the REST API and vRealize Orchestrator workflows</a></h4>

      <div class="byline">Posted March 9 by <a href="#">Some person</a> in <a href="#">Sample Exchange</a></div>

    </div>

    <div class="post">

      <h4><a href="#">vSphere Automation API for vSphere 6.7U2</a></h4>

      <div class="byline">Posted March 9 by <a href="#">vSphere Team</a> in <a href="#">API Explorer</a></div>

    </div>

  </div>

</div>
